@model Exception

<div class="row">
    <div class="col-6" style="background-color:white">
        <p style="font-size:24px;">Ha ocurrido un Error</p>
    </div>
</div>
<div class="row">
    <div class="col-6" style="background-color:white">
        <p style="font-size:20px;">@Model.Message/p>
    </div>
</div>