@using CinemaAPI.Models;
@model List<Pelicula>

    <div class="row" style="background-color: white;border-radius: 10px;padding-left: 20px;">
        <div class="col-12"><h3 style="padding-top:20px; font-weight:bold; font-family: 'Exo', sans-serif;text-align:center">NOVEDADES</h3></div>
        @foreach (var item in Model)
        {
            <div class="col-auto" style="padding-top:15px">
                <a href="@Url.Action("DetallePelicula","Home", new { id = @item._id })"><img src="@item.Imagen" width="220" height="260" style="border-radius:10px; cursor:pointer" /></a>
            </div>
        }
    </div>


